<div class="sidebarwrap">


    <ul class="listwrap">

        <li>
            <a [routerLink]="['/dashboard']">
                <i class="fa fa-tachometer fa-lg" aria-hidden="true"></i>Dashboard </a>
        </li>

        <li (click)="signOut()">
            <a>
                <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>Sign Out
            </a>
        </li>
    </ul>
</div>
