.sidebarwrap
{
float: left;
width: 18%;
position: fixed;
bottom: 0;
top: 45px;
overflow-y: scroll;
background-color: #061628;
z-index: 5;
}


.listwrap
{
float: left;
width: 100%;
padding-left: 0px !important;
list-style: none;
}


.listwrap li{
float: left;
width: 100%;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 0px !important;
border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
.listwrap li i{
width: 15%;
padding-right: 20px;
}

.listwrap li a
{
font-size: 16px;
color: white;
margin-left: 8%;
outline: none;
}
.listwrap li a:hover {
    cursor: pointer;
text-decoration: none;
}


.listwrap1
{
float: left;
width: 100%;
padding-left: 0px !important;
list-style: none;
}


.listwrap1 li{
float: left;
width: 100%;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 0px !important;
border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
.listwrap1 li i{
width: 15%;
padding-right: 20px;
}

.listwrap1 li a
{
font-size: 16px;
color: white;
margin-left: 0%;
outline: none;
}
.listwrap1 li a:hover {
    cursor: pointer;
text-decoration: none;
}




.inventory
{
padding: 0px !important; 
}

.inventory a
{
margin-left: 50px !important;
}