.headerwrap
{
float: left;
width: 100%;
/* background-color: #061628; */
background-color: #092026;
position: fixed;
top: 0;
z-index: 1;
}
.contentwrap
{
float: left;
width: 100%;
margin-bottom: 5px;
margin-top: 5px;
}

.logowrap
{
float: left;
margin-left: 1%;
width: 25%;
}
.logowrap img
{
 width: 175px;
 height: 35px;
 background-color: white;
 
}
.menuwrap
{
float: right;
width: 70%;
}

.menu{
float: right;
width: 22%;
background-color: transparent;;
}

.wrap{
float: left;
width: 100%;
color: white;
height: 35px;
margin-left: 30%;
padding-top: 3px;
padding-bottom: 3px;
cursor: pointer;
}

.icon
{
float: left;
width: 12%;
padding-right: 10px;
margin-top: 2%;
}

.username
{
float: left;
width: 40%;
}

.downicon
{
float: left;
width: 30px;
margin-top: 3%;
}

ul.dropdownul
{
width: 160px;
background-color: white;
list-style: none;
padding-left: 10px;
position: absolute;
top: 50px;
right: 2px;
box-shadow: 0px 8px 16px 0px rgba(128, 128, 128, 0.2);
z-index: 200;
}

li.dropdownli
{
width: 100%;
padding: 10px 0px;
cursor: pointer;
}

li.dropdownli :hover
{
background-color: rgba(128, 128, 128, 0.5)
}


.li.dropdownli i
{
margin-left: 10px;
}




.closewrap
{
float: left;
width: 100%;
height: 100vh;
position: absolute;
top:0;
z-index: 99;
bottom: 0;
}