<div class="headerwrap ">
  <div class="contentwrap">
    <div class="logowrap">
      <img src="../../../assets/images/logo.png">
    </div>
    <!-- <div class="menuwrap">
      <div class="menu">
        <div class="wrap" (click)="dropDownList()">
          <i class="fa fa-user fa-lg icon" aria-hidden="true"></i>
          <div class="username">Username </div>
          <i class="fa fa-angle-down fa-lg downicon" aria-hidden="true"></i>
        </div>
        <!-- wrap --
        <ul class="dropdownul" *ngIf="dropDown">
          <li class="dropdownli">
            <a>
              <i class="fa fa-cogs fa-lg downicon" aria-hidden="true"></i>
              <span>User Settings</span>
            </a>
          </li>
          <li class="dropdownli" (click)="signOut()">
            <a>
              <i class="fa fa-sign-out fa-lg downicon" aria-hidden="true"></i>
              <span>Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="closewrap" *ngIf="dropDown" (click)="dropDownList()">
    </div>
  </div>
</div>