<!-- {{usersData | sort | json}} -->
<p *ngFor="let user of usersData | sort ; let i = index">

  {{user.name}}
</p>
<p>
    <span *ngFor="let item of arrayOne(8); let i = index;">{{i}} </span>
  </p>
  <p>
    <span *ngFor="let i of arrayTwo(12)">{{i}} </span>
  </p>
  <p>
    <span *ngFor="let i of arrayThree(5, 100)">{{i}} </span>
  </p>
