<form #registerForm="ngForm">

  <div class="modal-body">
    <fieldset >
      <div class="row card-header">
       <strong>Register</strong>
      </div>
      <div class="row">
        <div class="col-md-6">

          <div class="row margin-top-10">
            <div class="col">
              <label>First Name
                <span style="color:#FF0000;">*</span>

              </label>
            </div>
            <div class="col">
              <input type="text" name="fname"  #fNamexdvf="ngModel" [pattern]="globalService.V_name" [(ngModel)]="userDetail.firstName"
                class="form-control" >
              <div class="text-danger" *ngIf="fNamexdvf.invalid && fNamexdvf.dirty && fNamexdvf.touched">
                Please Enter Valid Name
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6">

          <div class="row margin-top-10">
            <div class="col">
              <label>Last Name
                <span style="color:#FF0000;">*</span>

              </label>
            </div>
            <div class="col">
              <input type="text" name="lname" #lName="ngModel" [pattern]="globalService.V_name" [(ngModel)]="userDetail.lastName"
                class="form-control" required>
              <div class="text-danger" *ngIf="lName.invalid && lName.dirty && lName.touched">
                Please Enter Valid Last Name
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row margin-top-10">
            <div class="col">
              <label>Mobile Number
                <span style="color:#FF0000;">*</span>

              </label>
            </div>
            <div class="col">
              <input type="number" min="0" name="mobNum" #mobileNumber="ngModel" [pattern]="globalService.V_num" [(ngModel)]="userDetail.mobilleNumber"
                class="form-control" required>
              <div *ngIf="mobileNumber.invalid && mobileNumber.dirty">
                Please Enter Valid Mobile Number
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row margin-top-10">
            <div class="col">
              <label>Age
                <span style="color:#FF0000;">*</span>

              </label>
            </div>
            <div class="col">
              <input type="number" min="10"  name="age"  [pattern]="globalService.V_age" [(ngModel)]="userDetail.age"
                class="form-control" required>
            </div>
          </div>
        </div>

        <div class="row margin-top-10">
          <div class="col">
            <label>Email
              <span style="color:#FF0000;">*</span>

            </label>
          </div>
          <div class="col">
            <input type="text" name="email" #EmailId="ngModel" [pattern]="globalService.V_email" [(ngModel)]="userDetail.email"
              class="form-control">
            <div class="text-danger" *ngIf="lName.invalid && lName.dirty && lName.touched">
              Please Enter Valid Email
            </div>

          </div>
        </div>

      </div>

      <div>FirstName is: - {{userDetail.firstName}}</div>
    </fieldset>

  </div>

  <div class="modal-footer">
    <div class="pull-right">
    <button  type="button" class="btn btn-primary" [disabled]="!registerForm.form.valid" (click)="save()">Save</button>
  </div>
  </div>
</form>
