<div class="loginpage">


  <div class="loginimage">
    <img src="../../assets/images/login.png" width="175px" height="175px">
  </div>


  <div class="loginform">
    <form  >
      <div class="form-group">
        <label for="username">User Name</label>
        <input required  name="mobileNumber"  type="text" class="form-control"
          id="username" placeholder="Enter username">
        <!-- <div *ngIf="userName.invalid && userName.dirty" class="text-danger">
          Please Enter the username
        </div> -->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input  name="password" type="password"  class="form-control" id="password"
          placeholder="Enter password" required>
        <!-- <div *ngIf="password.invalid && password.dirty" class="text-danger">
          Please Enter the username
        </div> -->
      </div>
      <!-- routerLink="/user/register" -->

      <button (click)="goToRegister()"  routerLinkActive="active"  class="btn btn-primary">Register</button>
      <div class="form-group">
        <!-- [routerLink]="[ '/dashboard/users',2] -->
        <button  (click)="submit($event)" class="btn btn-primary">Login</button>

        <!-- <button value="Login" class="btn btn-info" (click)="hitLoginApi()"> Login  </button> -->
      </div>
    </form>

  </div>

</div>


<!-- <div class="loading-box" *ngIf="isLoader">
  <div class="loading"></div>
</div> -->
