.maincontainer{
  margin-top: 45px;
  margin-left: 18%;
  /* padding: 15px; */
  /* -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  */

  /* min-height: 600px; */
  position: relative;

}
